header{
    width: 1200px ; /* Ширина слоя */
    height: 200px;
    margin: 10px; /* Значение отступов */
    border: 4px solid black; /


}
main{
    width: 1038px;
    min-height: 300px;
    border: 4px solid black;
    position: absolute;
    left: 180px;
    top: 230px;
    color: #8726cc;
    text-align: center;
}
#header_name{
text-align: center;
    color: #8726cc;
}
#logo {
    position    :relative;
    top     :-90px;
    left        :300px;
    margin: 10px;
}
body{
    background-image: url(фон.jpg);
}
.about{

}
 .menu{
     width: 150px ; /* Ширина слоя */
     height: 200px;
     margin: 10px; /* Значение отступов */
     border: 4px solid black; 
 }
table, th, tr{
     border: 1px solid black;

 }
#index_img{
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius: 100%;
}
.user_info{
    text-align: left;
}

div.user_info p{

    position    :relative;
    top     :-200px;
    left        :300px;
}